# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*~

# Operating System Files
Thumbs.db
Desktop.ini
.DS_Store

# Python
__pycache__/
*.py[cod]

# Temporary and Scratch
scratch_*
